/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */


process.executor = 'slurm'
process.clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
process.queue = 'small'
process.module = 'r-env/3.6.1'
process.time = 5.h
process.errorStrategy = 'retry'
process.maxRetries = 3
process.maxForks = 20
process.cache = 'deep'

params {
  rlocation = "/projappl/project_2001209/Softwares/Rlib"
  clusterOptions = false
  max_time = 71.h
}


